<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/about.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/portfolio.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/modal.styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>