<!-- modal -->
<div class="modal" id="modal1">
  <div class="container">
    <div class="mySlides mySlides1">
      <div class="numbertext">1 / 3</div>
      <img src="/assets/Annotation 2020-08-30 235324.png" />
    </div>

    <div class="mySlides mySlides1">
      <div class="numbertext">2 / 3</div>
      <img src="/assets/Annotation 2020-09-01 232920.png" />
    </div>

    <div class="mySlides mySlides1">
      <div class="numbertext">3 / 3</div>
      <img src="/assets/Annotation 2020-09-02 003257.png" />
    </div>

    <a class="prev" onclick="plusSlides(-1, 1)">❮</a>
    <a class="next" onclick="plusSlides(1, 1)">❯</a>
  </div>
  <div class="modal-header">
    <div class="modal-header__title">ToDo Application</div>
    <div class="modal-header__tag">A mini project just like microsoft todo</div>
  </div>
  <div class="modal-header__details">
    A ToDo application similar to microsoft Todo, in which a user can
    authenticate, add tasks, mark them important, mark them completed and much
    more. Technologies Used:- MERN Stack, Rest API, Redux
  </div>
  <div class="footer">
    <div>
      <a
        href="https://microsoft-todo.herokuapp.com/"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Visit Site</a
      >
      <a
        href="https://github.com/rohitmalik137/my-ToDo"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Github</a
      >
    </div>
    <button data-close-button class="close-button">&times;</button>
  </div>
</div>

<div class="modal" id="modal2">
  <div class="container">
    <div class="mySlides mySlides2">
      <div class="numbertext">1 / 4</div>
      <img src="/assets/chat.png" />
    </div>
    <div class="mySlides mySlides2">
      <div class="numbertext">2 / 4</div>
      <img src="/assets/Annotation 2020-09-02 011402.png" />
    </div>
    <div class="mySlides mySlides2">
      <div class="numbertext">3 / 4</div>
      <img src="/assets/Annotation 2020-09-02 011552.png" />
    </div>
    <div class="mySlides mySlides2">
      <div class="numbertext">4 / 4</div>
      <img src="/assets/Annotation 2020-09-02 011648.png" />
    </div>

    <a class="prev" onclick="plusSlides(-1, 2)">❮</a>
    <a class="next" onclick="plusSlides(1, 2)">❯</a>
  </div>
  <div class="modal-header">
    <div class="modal-header__title">RealTime Chat Application</div>
    <div class="modal-header__tag">
      A real time chating application for 2 or more people
    </div>
  </div>
  <div class="modal-header__details">
    In this project, two or more people can communicate with each other in
    real-time. For authentication, users just have to enter their unique
    username and a common room name to enter.
  </div>
  <div class="footer">
    <div>
      <a
        href="https://rohit-personal-chat-app.netlify.app/"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Visit Site</a
      >
      <a
        href="https://github.com/rohitmalik137/chatApplication-frontend"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Github</a
      >
    </div>
    <button data-close-button class="close-button">&times;</button>
  </div>
</div>

<div class="modal" id="modal3">
  <div class="container">
    <div class="mySlides mySlides3">
      <div class="numbertext">1 / 4</div>
      <img src="/assets/Annotation 2020-09-02 011948.png" />
    </div>
    <div class="mySlides mySlides3">
      <div class="numbertext">2 / 4</div>
      <img src="/assets/Annotation 2020-09-02 012057.png" />
    </div>
    <div class="mySlides mySlides3">
      <div class="numbertext">3 / 4</div>
      <img src="/assets/Annotation 2020-09-02 012139.png" />
    </div>
    <div class="mySlides mySlides3">
      <div class="numbertext">4 / 4</div>
      <img src="/assets/Annotation 2020-09-02 012326.png" />
    </div>

    <a class="prev" onclick="plusSlides(-1, 3)">❮</a>
    <a class="next" onclick="plusSlides(1, 3)">❯</a>
  </div>
  <div class="modal-header">
    <div class="modal-header__title">GuessMe</div>
    <div class="modal-header__tag">A game application to sharp memory.</div>
  </div>
  <div class="modal-header__details">
    In this game, 10 color boxes will be shown to the screen, User is supposed
    to remember the positioning of the colors. And in each level, user is
    supposed to tell which color was at the specified position(position's based
    upon fibonacci series).
  </div>
  <div class="footer">
    <div>
      <a
        href="https://guessingcolorgame.herokuapp.com/"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Visit Site</a
      >
      <a
        href="https://github.com/rohitmalik137/color-guessing-game-Node.js"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Github</a
      >
    </div>
    <button data-close-button class="close-button">&times;</button>
  </div>
</div>

<div class="modal" id="modal4">
  <div class="container">
    <div class="mySlides mySlides4">
      <div class="numbertext">1 / 4</div>
      <img src="/assets/Annotation 2020-09-02 012627.png" />
    </div>

    <div class="mySlides mySlides4">
      <div class="numbertext">2 / 4</div>
      <img src="/assets/Annotation 2020-09-02 012737.png" />
    </div>

    <div class="mySlides mySlides4">
      <div class="numbertext">3 / 4</div>
      <img src="/assets/contact.png" />
    </div>
    <div class="mySlides mySlides4">
      <div class="numbertext">4 / 4</div>
      <img src="/assets/Annotation 2020-09-02 013120.png" />
    </div>
    <a class="prev" onclick="plusSlides(-1, 4)">❮</a>
    <a class="next" onclick="plusSlides(1, 4)">❯</a>
  </div>
  <div class="modal-header">
    <div class="modal-header__title">ContactBook</div>
    <div class="modal-header__tag">A phonebook to store contacts</div>
  </div>
  <div class="modal-header__details">
    In this project, a user can perform CRUD operations on contacts, Also can
    add more then one contact number and Email. Pagination and searching through
    contacts is also applied.
  </div>
  <div class="footer">
    <div>
      <a
        href="https://rohit-contact-book.herokuapp.com/"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Visit Site</a
      >
      <a
        href="https://github.com/rohitmalik137/contact-book-Nods.Js"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Github</a
      >
    </div>
    <button data-close-button class="close-button">&times;</button>
  </div>
</div>

<div class="modal" id="modal5">
  <div class="container">
    <div class="mySlides mySlides5">
      <div class="numbertext">1 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162625.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">2 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162359.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">3 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162444.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">4 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162549.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">5 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162653.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">6 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162731.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">7 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162747.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">8 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162844.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">9 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 162945.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">10 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 163013.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">11 / 11</div>
      <img src="/assets/Screenshot 2020-11-01 163050.png" />
    </div>
    <a class="prev" onclick="plusSlides(-1, 5)">❮</a>
    <a class="next" onclick="plusSlides(1, 5)">❯</a>
  </div>
  <div class="modal-header">
    <div class="modal-header__title">Rohitgram</div>
    <div class="modal-header__tag">An instagram clone application</div>
  </div>
  <div class="modal-header__details">
    In this project, i covered all the major features like authentication after Email verification, upload posts, follow other users, like & comment on the posts, chat with other users, to all the little(but overriding) features, like like user comments, reply to other comments, like user message on personal chat, see if user is typing, with fully responsiveness and much much more...
  </div>
  <div class="footer">
    <div>
      <a
        href="https://github.com/rohitmalik137/rohitgram"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Github</a
      >
    </div>
    <button data-close-button class="close-button">&times;</button>
  </div>
</div>
<div id="overlay"></div>
