<!-- About -->
<div id="about">
  <h1 data-aos="fade-right" data-aos-duration="1000" class="about__heading">
    About
  </h1>
  <hr
    data-aos="fade-left"
    data-aos-duration="1000"
    class="about__heading__underline"
  />

  <div class="about__content">
    <!-- left container -->
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="about__content-left"
    >
      <!-- div containing my avatar -->
      <img
        src="../assets/CYMERA_20190718_184652.jpg"
        alt="Rohit Malik profile picture"
        class="about__content-left-avatar"
      />

      <h2>Who's this guy?</h2>
      <p>
        I'm a Full Stack Developer from Rohtak, India.I've been working on my
        web development skills since 2017. Currently, i work as Programmer
        Analyst Trainee in Cognizant.
      </p>
    </div>

    <!-- right container -->
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      class="about__content-right"
    >
    <% if (skillsData.length > 0) {
        for (let skill of skillsData) { %>
      <div class="skills">
        <div class="progressBar" style="width: <%= skill.percentage %>%">
          <div class="progressBar__tag"><%= skill.skill %></div>
        </div>
        <span><%= skill.percentage %>%</span>
      </div>
        <%}
         }else { %>
            <h1>No Skills Yet!!</h1>
        <% } %>
    </div>
  </div>
</div>
