<!-- About -->
<div id="about">
  <h1 data-aos="fade-right" data-aos-duration="1000" class="about__heading">
    About
  </h1>
  <hr
    data-aos="fade-left"
    data-aos-duration="1000"
    class="about__heading__underline"
  />

  <div class="about__content">
    <!-- left container -->
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="about__content-left"
    >
      <div class="about__content-left-avatar">
        <!-- div containing my avatar -->
      </div>
      <h2>Who's this guy?</h2>
      <p>
        I'm a Full Stack Developer from Rohtak, India.I've been working on my
        web development skills since 2017.
      </p>
    </div>

    <!-- right container -->
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      class="about__content-right"
    >
      <div class="skills">
        <div class="progressBar" style="width: 85%">
          <div class="progressBar__tag">Node.js</div>
        </div>
        <span>85%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 85%">
          <div class="progressBar__tag">React</div>
        </div>
        <span>85%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 85%">
          <div class="progressBar__tag">Express.js</div>
        </div>
        <span>85%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 80%">
          <div class="progressBar__tag">Mongo DB</div>
        </div>
        <span>80%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 80%">
          <div class="progressBar__tag">HTML,CSS & JS</div>
        </div>
        <span>80%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 80%">
          <div class="progressBar__tag">PHP</div>
        </div>
        <span>80%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 70%">
          <div class="progressBar__tag">Core java</div>
        </div>
        <span>70%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 65%">
          <div class="progressBar__tag">Data Structures</div>
        </div>
        <span>65%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 60%">
          <div class="progressBar__tag">Sockets.io</div>
        </div>
        <span>60%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 50%">
          <div class="progressBar__tag">GraphQL</div>
        </div>
        <span>50%</span>
      </div>
    </div>
  </div>
</div>
