<!-- Portfolio -->
<div id="portfolio">
  <h1 class="about__heading">Projects</h1>
  <hr class="about__heading__underline" />
  <!-- projects-container -->
  <div class="projects_container">
    <div class="projects_container__project">
      <div class="project__side project__side--front">
        <div class="project__picture project__picture--1">&nbsp;</div>
        <h4 class="project__heading">
          <span class="project__heading-span project__heading-span--1"
            >Microsoft ToDo</span
          >
        </h4>
        <div class="project__details">
          <p class="project__details--heading">Technologies Used:-</p>
          <ul>
            <li>React</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>MongoDB</li>
            <li>Redux</li>
          </ul>
        </div>
      </div>
      <div class="project__side project__side--back project__side--back--1">
        <button data-modal-target="#modal1" class="modal-button">
          Learn More!
        </button>
      </div>
    </div>

    <div class="projects_container__project">
      <div class="project__side project__side--front">
        <div class="project__picture project__picture--2">&nbsp;</div>
        <h4 class="project__heading">
          <span class="project__heading-span project__heading-span--2"
            >Chat Application</span
          >
        </h4>
        <div class="project__details">
          <p class="project__details--heading">Technologies Used:-</p>
          <ul>
            <li>React</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>Sockets.io</li>
          </ul>
        </div>
      </div>
      <div class="project__side project__side--back project__side--back--2">
        <button data-modal-target="#modal2" class="modal-button">
          Learn More!
        </button>
      </div>
    </div>

    <div class="projects_container__project">
      <div class="project__side project__side--front">
        <div class="project__picture project__picture--3">&nbsp;</div>
        <h4 class="project__heading">
          <span class="project__heading-span project__heading-span--3"
            >GuessMe colorGame</span
          >
        </h4>
        <div class="project__details">
          <p class="project__details--heading">Technologies Used:-</p>
          <ul>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>MongoDB</li>
            <li>EJS Templating Engine</li>
          </ul>
        </div>
      </div>
      <div class="project__side project__side--back project__side--back--3">
        <button data-modal-target="#modal3" class="modal-button">
          Learn More!
        </button>
      </div>
    </div>

    <div class="projects_container__project">
      <div class="project__side project__side--front">
        <div class="project__picture project__picture--4">&nbsp;</div>
        <h4 class="project__heading">
          <span class="project__heading-span project__heading-span--4"
            >PhoneBook Project</span
          >
        </h4>
        <div class="project__details">
          <p class="project__details--heading">Technologies Used:-</p>
          <ul>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>MongoDB</li>
            <li>EJS Templating Engine</li>
          </ul>
        </div>
      </div>
      <div class="project__side project__side--back project__side--back--4">
        <button data-modal-target="#modal4" class="modal-button">
          Learn More!
        </button>
      </div>
    </div>
  </div>

  <%- include('../includes/modal-content.ejs') %>
</div>
